body {
    font-family: Roboto, sans-serif;
    margin: 0;
}


.hero,
.footer {
    background-color: #1F2937;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    width: 1000px;
    padding: 15px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.header-links,
.hero-secondary,
.img-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}


.hero-content {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 75px 0 100px;
}

.hero-text {
    margin-right: 50px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.signup {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.hero-img {
    background-color: rgb(117, 120, 121);
    width: 500px;
    height: 220px;
    flex: 0 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    width: 450px;
}


.info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 20px;
}

.card-container {
    align-self: center;
    margin: 20px;

    display: flex;
    gap: 40px;
}

.card {
    width: 150px;
    text-align: center;
}

.card-text {
    color: rgb(70, 71, 72);
    margin-top: 10px;
}

.card-img {
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}



.quote {
    background-color: #E5E7EB;
    padding: 120px;
}

.quote-content {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;

    padding: 5px;
    align-self: center;
}

.quote-author {
    color:rgb(32, 32, 33);
    font-size: 18px;

    margin: -10px 0;
    align-self: flex-end;
}


.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {    
    background-color: #3882F6;
    width: 1000px;
    height: 150px;
    border-radius: 6px;
}
